body {
  margin: 0;
}
header {
  background-color: #2b81af;
  color: #fff;
  padding: 20px;
}
article {
  background-color: #009900;
  color: #fff;
  padding: 20px;
}
.ks-popupmenu {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
.navigatorSpan {
  width: 240px;
}
